<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!checkLogin()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active" *ngIf="checkLogin()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active" *ngIf="checkLogin()">Dashboard</a>
      </li>
      <li class="nav-item">
        <div class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-warning my-2 my-sm-0" (click)="signOut()" *ngIf="checkLogin()">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
